h1 Activation Instructions
p Use the link below to activate your Richmond Trees login.  The link will expire in 2 hours.
br
= link_to "Activate Account", edit_password_reset_url( :id => @perishable_token )
