/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 */

/* color palette */
$navbar-primary: #5f7341;
$navbar-secondary: #ffffff;
$danger-text-color: #af1212;

/*** built-in bootstrap overrides ***/
$font-family-sans-serif: Tahoma, Geneva, sans-serif;
$input-border-focus: $navbar-primary;
$state-danger-text: $danger-text-color;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "homepage.css.scss";
@import "user_session.css.scss";
@import "user.css.scss";
@import "reports.css.scss";

/*** manual bootstrap overrides ***/

/* navbar */
/*.navbar {
  min-height: 86px;
}*/

.navbar-header {
  height: 86px;
}

.navbar-default {
  background-color: #5f7341;

  .navbar-nav > li > a {
    padding-top: 34px;
    padding-bottom: 32px;
    font-size: 18px;
    margin-top: 1px;
    background-color: $navbar-primary;
    color: $navbar-secondary;
  }

  .navbar-nav > li > a:hover {
    cursor: pointer;
  }

  .navbar-nav > .active > a, 
  .navbar-nav > .active > a:hover, 
  .navbar-nav > .active {
    background-color: $navbar-secondary;
    color: $navbar-primary;
  }

  .logout-icon {
    top: 1px;
  }

  .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
  }
}

/* change border color on buttons when clicked */
.btn-default:focus {
   outline: 2px auto $navbar-primary !important;
}

/*** system-wide styles (non-bootstrap) ***/

/* centered column (assumes we're using bootstrap 3.0) */
.centered-col {
  float: none;
  margin: 0 auto;
}

.header-inline {
  display: inline;
  padding-right: 10px;
}

/* Add an asterisk to required fields */
label.required:after {
    content:" *";
}

hr.section-separator {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #C8D7FF;
}
