/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "homepage.css.scss";

/* colors for navbar */
$navbar-primary: #5f7341;
$navbar-secondary: #ffffff;

/* override bootstrap navigation styles */
.navbar {
	min-height: 86px;
}

.navbar-default {
	background-color: #5f7341;

	.navbar-nav > li > a {
		padding-top: 34px;
		padding-bottom: 32px;
		font-size: 22px;
		background-color: $navbar-primary;
		color: $navbar-secondary;
	}

	.navbar-nav > .active > a, 
	.navbar-nav > .active > a:hover, 
	.navbar-nav > .active {
		color: $navbar-primary;
	}

	.logout-icon {
		top: -2px;
	}
}