div id="map" style="height: 600px" class="gmap"

javascript:
  // these are test markers and will be replaced with real data
  var markers = [
    { 
      "lat": 37.947023,
      "lng": -122.335881
    }
  ];

= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ ENV['google_maps_api_key'] }&callback=initMap"
